name: YouTube Relay Dual Input (Logo from YT)

on:
  workflow_dispatch:
    inputs:
      link_youtube:
        description: 'Link Video Utama'
        required: true
      kunci_rtmp:
        description: 'Stream Key Kamu'
        required: true

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tooling
        run: |
          sudo apt update && sudo apt install ffmpeg jq -y
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Eksekusi Auto-Relay
        run: |
          echo "${{ secrets.YT_COOKIES }}" > cookies.txt
          
          # 1. Ambil link video LOGO (dari link YT yang kamu kasih)
          # Kita ambil resolusi kecil saja (360p) biar gak berat
          LINK_LOGO="https://youtu.be/zR6n39ZWrJM"
          LOGO_URL=$(yt-dlp --cookies cookies.txt -f "best[height<=360]" -g "$LINK_LOGO")

          # 2. LOOPING CHECKER Video Utama
          echo "Menunggu sumber video utama siap..."
          while true; do
            VIDEO_URL=$(yt-dlp --cookies cookies.txt -f "best[height<=720]" -g "${{ github.event.inputs.link_youtube }}" 2>/dev/null)
            if [ ! -z "$VIDEO_URL" ]; then
              echo "SUMBER TERDETEKSI! Memulai streaming..."
              break
            else
              echo "Video utama belum live. Tunggu 1 detik..."
              sleep 1
            fi
          done

          # 3. JALANKAN STREAMING
          # [1:v] adalah input logo dari YouTube
          # Kita pakai colorkey 008100 untuk hapus background hijaunya
          
          ffmpeg -re -i "$VIDEO_URL" -stream_loop -1 -i "$LOGO_URL" \
          -filter_complex \
          "[1:v]colorkey=0x008100:0.1:0.1,scale=150:-1[logo]; \
           [0:v][logo]overlay=W-w-15:15:shortest=1" \
          -c:v libx264 -preset veryfast -b:v 2500k \
          -c:a aac -ar 44100 -b:a 128k \
          -f flv "rtmp://a.rtmp.youtube.com/live2/${{ github.event.inputs.kunci_rtmp }}"
