name: Persiapan & Loop Streaming
        run: |
          set +e 
          
          # 1. Simpan sebagai .json (sesuai format isi secret kamu)
          echo '${{ secrets.YT_COOKIES }}' > cookies.json
          
          echo "Mengunduh logo..."
          LINK_LOGO="https://youtu.be/zR6n39ZWrJM"
          
          # 2. Panggil dengan nama file .json
          yt-dlp --cookies cookies.json -f "b" "$LINK_LOGO" -o logo_video.mp4 || echo "Gagal logo, lanjut..."

          echo "Memulai sistem pemantauan streaming..."
          
          while true; do
            echo "Mengecek ketersediaan video sumber..."
            
            # 3. Gunakan cookies.json di sini juga
            VIDEO_URL=$(yt-dlp --cookies cookies.json \
              --user-agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36" \
              -f "best[height<=720]" -g "${{ github.event.inputs.link_youtube }}" 2>/dev/null)

            if [ -z "$VIDEO_URL" ]; then
              echo "PERINGATAN: Sumber tidak ditemukan/Cookies error. Cek 10 detik..."
              sleep 10
              continue
            fi

            echo "SUMBER AKTIF! FFmpeg running..."

            ffmpeg -re -i "$VIDEO_URL" \
              -stream_loop -1 -i logo_video.mp4 \
              -filter_complex "[1:v]colorkey=0x008100:0.1:0.1,scale=75:-1[logo]; [0:v][logo]overlay=W-w-15:15:shortest=1" \
              -c:v libx264 -preset veryfast -b:v 2500k \
              -c:a aac -ar 44100 -b:a 128k \
              -f flv "rtmp://a.rtmp.youtube.com/live2/${{ github.event.inputs.kunci_rtmp }}"

            sleep 5
          done
          
