- name: Persiapan Logo & Cek Video
        run: |
          echo "${{ secrets.YT_COOKIES }}" > cookies.txt
          
          # 1. Unduh Logo (Tanpa filter format yang ribet biar gak Error)
          echo "Mengunduh logo..."
          LINK_LOGO="https://youtu.be/zR6n39ZWrJM"
          
          # Pakai -f "best" supaya YouTube kasih apa aja yang dia mau, yang penting dapet file
          yt-dlp --cookies cookies.txt -f "best" --merge-output-format mp4 "$LINK_LOGO" -o raw_logo.mp4

          # 2. PRE-PROCESS LOGO (Ubah ukuran & hapus background disini)
          # Kita paksa jadi 85px dan hapus warna 008100
          echo "Memproses logo agar ringan saat live..."
          ffmpeg -i raw_logo.mp4 -vf "colorkey=0x008100:0.1:0.1,scale=85:-1" -c:v qtrle -an logo_ready.mov

          # 3. LOOPING CHECKER Video Utama
          echo "Menunggu sumber video utama siap..."
          while true; do
            VIDEO_URL=$(yt-dlp --cookies cookies.txt -f "best[height<=720]" -g "${{ github.event.inputs.link_youtube }}" 2>/dev/null)
            if [ ! -z "$VIDEO_URL" ]; then
              echo "SUMBER TERDETEKSI!"
              break
            else
              echo "Video utama belum siap. Cek lagi..."
              sleep 1
            fi
          done

          # 4. JALANKAN STREAMING
          ffmpeg -re -i "$VIDEO_URL" -stream_loop -1 -i logo_ready.mov \
          -filter_complex "[0:v][1:v]overlay=W-w-30:30" \
          -c:v libx264 -preset veryfast -b:v 2500k \
          -c:a aac -ar 44100 -b:a 128k \
          -f flv "rtmp://a.rtmp.youtube.com/live2/${{ github.event.inputs.kunci_rtmp }}"
