name: YouTube Relay Pro Ultra

on:
  workflow_dispatch:
    inputs:
      link_youtube:
        description: 'Link Video Utama'
        required: true
      kunci_rtmp:
        description: 'Stream Key YouTube'
        required: true

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout Repository
        uses: actions/checkout@v4

      - name: 2. Install Node.js (WAJIB PERTAMA)
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: 3. Verifikasi Node.js & Install Tooling
        run: |
          node -v # Mengecek apakah Node.js sudah benar-benar terinstal
          sudo apt-get update
          sudo apt-get install -y ffmpeg jq curl
          
          # Install yt-dlp versi nightly (paling update untuk bypass)
          sudo curl -L https://github.com/yt-dlp/yt-dlp-nightly-builds/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp
          yt-dlp -U

      - name: 4. Eksekusi Streaming
        env:
          YT_COOKIES: ${{ secrets.YT_COOKIES }}
        run: |
          set +e 
          echo "$YT_COOKIES" > cookies.txt
          
          # Download logo
          yt-dlp --cookies cookies.txt --js-runtime nodejs --extractor-args "youtube:player_client=mweb" -f "best" "https://youtu.be/zR6n39ZWrJM" -o logo_video.mp4

          while true; do
            echo "Mengambil URL Video Sumber..."
            
            # Memaksa yt-dlp menggunakan Node.js yang sudah diinstall di langkah 2
            VIDEO_URL=$(yt-dlp --cookies cookies.txt \
                               --js-runtime nodejs \
                               --force-ipv4 \
                               --extractor-args "youtube:player_client=mweb,web" \
                               -f "best[height<=720]" -g "${{ github.event.inputs.link_youtube }}" 2>/dev/null)

            if [ -z "$VIDEO_URL" ]; then
              echo "Gagal tembus! Pastikan Cookies/NodeJS aktif. Coba lagi..."
              sleep 10
              continue
            fi

            ffmpeg -re -i "$VIDEO_URL" -stream_loop -1 -i logo_video.mp4 \
              -filter_complex "[1:v]colorkey=0x008100:0.1:0.1,scale=150:-1[logo]; [0:v][logo]overlay=W-w-15:15:shortest=1" \
              -c:v libx264 -preset veryfast -b:v 3000k -f flv "rtmp://a.rtmp.youtube.com/live2/${{ github.event.inputs.kunci_rtmp }}"
            
            sleep 5
          done
